.team-container img{
    width:200px;
    height:170px;
    margin-top:15px;
}
.team-container{
    display: grid;
    grid-template-columns: repeat(auto-fit,350px);
    grid-gap: 40px;
    -webkit-justify-content: center;
    justify-content: center;
    margin: 100px 0;
}